@model TCreateTaskViewModel
<!DOCTYPE html>
<html style="font-size: 16px;">
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/css/teacher_add_task.css" media="screen">
    <script class="u-script" type="text/javascript" src="/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/js/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic:400">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic:400">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
    <meta name="theme-color" content="#9ea400">
    <meta property="og:type" content="website">
  </head>


  <body>
      @Html.Partial("HeadTeacher")
    <article>
        @if(Model != null)
        {
            <form asp-action="CreateTask" asp-controller="TTasks" method="post" enctype="multipart/form-data">
                    <h2 class="text-title">Добавить задание</h2>
                    <p class="text-for-form">Тема: @Model.theme</p>
                    <div class="u-border-2 u-border-palette-2-base u-line u-line-horizontal u-line-1"></div>
                    <input type="hidden" name="themeId" value="@Model.themeId">
                <div class="grid-all">
                    <p class="text-for-form">Текст задания:</p>
                    <textarea required type="text" name="textTask" style="overflow: scroll"></textarea>
                </div>
                <div class="grid-all">
                    <p class="text-for-form">Решение:</p>
                    <textarea type="text" name="solutionTask" style="overflow: scroll"></textarea>
                </div>
                <div class="grid-all">
                    <p class="text-for-form">Ответ:</p>
                    <input required type="text" name="answerTask" placeholder="Если ответов несколько, перечислите их через ;">
                </div>

                @if (Model.pattern != null)
                {
                    <div class="u-border-2 u-border-palette-2-base u-line u-line-horizontal u-line-1"></div>
                    <p style="padding-left:10px; margin: 0 0 0 0;">Вставте необходимые дополнительные материалы к заданию</p>

                    @if (Model.pattern._code)
                    {
                       <div class="grid-code1">
                                <h5 style="text-align:center;">Бейсик</h5>
                                <h5 style="text-align:center;">Python</h5>
                                <h5 style="text-align:center;">Паскаль</h5>
                                <textarea required name="code"></textarea>
                                
                                <textarea required name="code"></textarea>
                                
                                <textarea required name="code"></textarea>
                          </div>
                          <div class="grid-code2">
                                <h5 style="text-align:center;">Алгоритмический язык</h5>
                                <h5 style="text-align:center;">Си++</h5>
                                <textarea required name="code"></textarea>
                                 
                                <textarea required name="code"></textarea>
                       </div>
                       }

                    @if(Model.pattern._img1)
                    {
                        <div class="grid-all">
                            <p class="text-for-form">Изображение:</p>
                            <input style="margin-top: 20px;" accept="image/*"  required type="file" name="uploadedImg" placeholder="Загрузите изображение для задания">
                        </div>
                    }
                     @if(Model.pattern._img2)
                    {
                        <div class="grid-all">
                            <p class="text-for-form">Изображение:</p>
                            <input style="margin-top: 20px;" accept="image/*" required type="file" name="uploadedImg" placeholder="Загрузите изображение для задания">
                        </div>
                    }
                     @if(Model.pattern._file1)
                    {
                        <div class="grid-all">
                            <p class="text-for-form">Файл:</p>
                            <input  style="margin-top: 20px;" required type="file" name="uploadedFile" placeholder="Загрузите файл для задания">
                        </div>
                    }
                     @if(Model.pattern._file2)
                    {
                        <div class="grid-all">
                            <p class="text-for-form">Файл:</p>
                            <input style="margin-top: 20px;" required type="file" name="uploadedFile" placeholder="Загрузите файл для задания">
                        </div>
                    }
                }              
                <input type="submit" value="Добавить" asp-controller="TTasks" asp-action="CreateTask" class="btn-to-center u-active-palette-2-base u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-palette-2-light-2 u-radius-5 u-btn-1">
</form>
}
    </article>
    
    <footer id="pageFooter" class="footer-all u-clearfix">
        <p class="footer-text u-text-variant"> © 2022 Examcy | Образовательная платформа</p>
    </footer>
  </body>
</html>