*{
margin: 0px 0px 0px 0px;
font-family: "Didact Gothic";
padding: 0 0 0 0;
}

.text-to-center{
  text-align: center;
}

.text-title{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}


body { 
  display: grid;
  grid-template-areas: 
   "header header header"
    "article article article"   
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 100% 0% 0%;
  }
  header {
    margin-left: 20px;
    margin-right: 20px;
  }
  article{
    margin-left: 20px;
    margin-right: 20px;
  }
header, footer, article, div {
  padding: 10px;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  }

.logo{
  display: flex;
}
a.logo-text:hover{
   color: #000000;
   text-decoration: none;
}
.logo-text
{  
  color: #000000;
  font-size: 1.7rem;
  font-weight: normal;
  margin-left: 10px;
  padding-top: -10px;
}
.logo-img{
  width: 50px; 
  height: 50px;
  margin-top: -5px;
}

.nav-all{
  margin-left: auto;
}
.nav-text-item{
  font-family: "Didact Gothic";
  font-weight: bold;
  font-size: 1rem;
  padding-top: 5px;
  color: #1a1a1a
}

.login-link{
  display: inherit;
  padding-top: 12px;
  font-family: "Didact Gothic";
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline;
}
.footer-all{
  background-color: #534a6a;
  display: inline-block;
   vertical-align: middle;
}
.footer-text{
  color: #ffffff;
  text-align: center;
  font-family: "Didact Gothic";
  font-size: 0.875rem;
  padding: 10px 0 0 0;
}


.u-table-alt-palette-2-light-3 tr:nth-child(even) {
  color: #111111;
  background-color: #f2effb;
}

tr{
  height: 60px;
}

td{
  padding-left: 5px;
}

.task-list{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}


.u-responsive-xs article {
    margin-left: 20px;
    margin-right: 20px;
}

.u-responsive-xs tr {
    height: 100px;
}

.u-responsive-xs td {
    padding-left: 5px;
    padding-right: 5px;
}

.u-responsive-xs .task-list {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}
