*{
margin: 0px 0px 0px 0px;
font-family: "Didact Gothic";
}

.courses{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  min-height: 310px;
}

.course{
  background-color: #cdc0ef;
  padding: 10px 10px 10px 10px; 
  max-width: 310px;
  flex: inherit;
  margin-bottom: 15px;
  height: 100%;
  min-height: 280px;
  vertical-align: middle;
}

.text-to-center{
  text-align: center;
}

.text-title{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}


body { 
  display: grid;
  grid-template-areas: 
   "header header header"
    "article article article"   
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 100% 0% 0%;
  }
  header {
    margin-left: 20px;
    margin-right: 20px;
  }
  article{
    margin-left: 20px;
    margin-right: 20px;
  }
header, footer, article, div {
  padding: 10px;
}
#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  }

*{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.logo{
  display: flex;
}
a.logo-text:hover{
   color: #000000;
   text-decoration: none;
}
.logo-text
{  
  color: #000000;
  font-size: 1.7rem;
  
  margin-left: 10px;
  padding-top: -10px;
}
.logo-img{
  width: 50px; 
  height: 50px;
  margin-top: -5px;
}
.text{
  font-family: "Didact Gothic";
  font-weight: normal;
}


.nav-all{
  margin-left: auto;
}
.nav-text-item{
  font-family: "Didact Gothic";
  font-weight: bold;
  font-size: 1rem;
  padding-top: 5px;
}

.login-link{
  display: inherit;
  padding-top: 12px;
  font-family: "Didact Gothic";
  font-weight: bold;
  font-size: 1rem;
  text-decoration: underline;
}
.footer-all{
  background-color: #534a6a;
  display: inline-block;
   vertical-align: middle;
}
.footer-text{
   color: #ffffff;
  text-align: center;
  font-family: "Didact Gothic";
  font-size: 0.875rem;
  padding: 10px 0 0 0;
}

.carousel-all{
background-color:#ffffff;
}
.achieve-img{
  text-align: center;
}

.task-list{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.u-table-alt-palette-2-light-3 tr:nth-child(even) {
  color: #111111;
  background-color: #f2effb;
}

tr{
  height: 60px;
}

td{
  padding-left: 5px;
}

a.link{
   color: #534a6a;
   text-decoration: none;
}

a.link:hover{
   color: #f2effb;
   text-decoration: none;
}

.grid-all{
  display: grid;
  grid-template-rows: 100% 100%;
  grid-template-columns: 40% 60%;
  grid-gap: 15px;
}

.task-list{
  list-style-type:none;
  margin-top: 0;
  margin-bottom: 0;
}

.without-padding{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}


.user-img{
  margin-left: 15%;
  width: 70%;
  border-radius: 10px;
  border: 2px solid #f2effb;
}


.u-responsive-xs body {
    overflow: hidden;
    grid-template-rows: 60px 1fr 0px;
}

.u-responsive-xs .grid-all {
    display: block;
}

.u-responsive-xs .text-for-form {
    font-size: 20px;
}

.u-responsive-xs input {
    width: 100%;
}

.u-responsive-xs .u-nav-item {
    color: white;
}