* {
    margin: 0px 0px 0px 0px;
    font-family: "Didact Gothic";
    padding: 0 0 0 0;
}

.text-to-center {
    text-align: center;
}

.text-title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}


body {
    display: grid;
    grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 0% 100% 0%;
}



.CorTit {
    text-align:center;
}

header {
    margin-left: 20px;
    margin-right: 20px;
}

article {
    margin-left: 20px;
    margin-right: 20px;
}

header, footer, article, div, ads {
    padding: 10px;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
    flex: 0 0 auto !important;
}


.logo {
    display: flex;
}

a.logo-text:hover {
    color: #000000;
    text-decoration: none;
}

.logo-text {
    color: #000000;
    font-size: 1.7rem;
    font-weight: normal;
    margin-left: 10px;
    padding-top: -10px;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-top: -5px;
}

.nav-all {
    margin-left: auto;
}

.nav-text-item {
    font-family: "Didact Gothic";
    font-weight: bold;
    font-size: 1rem;
    padding-top: 5px;
    color: #1a1a1a
}

.login-link {
    display: inherit;
    padding-top: 12px;
    font-family: "Didact Gothic";
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
}

.footer-all {
    background-color: #534a6a;
    display: inline-block;
    vertical-align: middle;
}

.footer-text {
    color: #ffffff;
    text-align: center;
    font-family: "Didact Gothic";
    font-size: 0.875rem;
    padding: 10px 0 0 0;
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    min-height: 310px;
}

.course {
    background-color: #cdc0ef;
    padding: 10px 10px 10px 10px;
    max-width: 310px;
    flex: inherit;
    margin-bottom: 15px;
    height: 100%;
    min-height: 280px;
    vertical-align: middle;
}



.btn-to-center {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    border: none;
    background: none;
}

a.link {
    color: #534a6a;
    text-decoration: none;
}

    a.link:hover {
        color: #f2effb;
        text-decoration: none;
    }

.right-title {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
}

ul {
    padding-left: 0;
}

a.more {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
}

.theme-text {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 0px;
    padding-bottom: 0;
    text-align: justify;
}

div.text {
    padding: 0 0 0 0;
}

.u-table-alt-palette-2-light-3 tr:nth-child(even) {
    color: #111111;
    background-color: #f2effb;
}


td {
    padding-left: 5px;
}

.task-list {

}
