* {
    margin: 0px 0px 0px 0px;
    font-family: "Didact Gothic";
}

.text-to-center {
    text-align: center;
    color: #000000;
}

.text-for-form {
    font-size: 16px;
    vertical-align: top;
}

.text-title {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
}

.btns {
    display:flex;
    justify-content:space-between;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "article article article"
        "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 100% 0% 0%;
}

header {
    margin-left: 20px;
    margin-right: 20px;
}

article {
    margin-left: 20px;
    margin-right: 20px;
}

header, footer, article, div {
    padding: 10px;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
}


.logo {
    display: flex;
}

a.logo-text:hover {
    color: #000000;
    text-decoration: none;
}

.logo-text {
    color: #000000;
    font-size: 1.7rem;
    margin-left: 10px;
    padding-top: -10px;
    text-decoration: none;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-top: -5px;
}

.text {
    font-family: "Didact Gothic";
    font-weight: normal;
}


.nav-all {
    margin-left: auto;
}

.nav-text-item {
    font-family: "Didact Gothic";
    font-weight: bold;
    font-size: 1rem;
    padding-top: 5px;
}

.login-link {
    display: inherit;
    padding-top: 12px;
    font-family: "Didact Gothic";
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
}

.footer-all {
    background-color: #534a6a;
    display: inline-block;
    vertical-align: middle;
}

.footer-text {
    color: #ffffff;
    text-align: center;
    font-family: "Didact Gothic";
    font-size: 0.875rem;
    padding: 10px 0 0 0;
}


.grid-all {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 70% 0%;
    grid-gap: 5px;
}

.btn-to-center {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    border: none;
    background: none;
}
